<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Tester</title>
</head>
<body>
    <form class="signup" action="/register" method="post" autocomplete="off">

      <div class="signup__field">
        <input class="signup__input" type="text" name="id" id="id" placeholder="Username" required />
      </div>

      <div class="signup__field">
        <input class="signup__input" type="password" name="password" id="password" placeholder="Password" required />
      </div>

      <button type="submit">Signup</button>
    </form>

    <form class="signup" action="/login" method="post" autocomplete="off">

      <div class="signup__field">
        <input class="signup__input" type="text" name="id" id="id" placeholder="Username" required />
      </div>

      <div class="signup__field">
        <input class="signup__input" type="password" name="password" id="password" placeholder="Password" required />
      </div>

      <button type="submit">Sign In</button>
    </form>
</body>
</html>